@charset "utf-8";
/* CSS Document */

* { border:0; margin:0; padding:0;
    font-family:Arial, Helvetica; font-size: 14px; font-weight:300; letter-spacing:0.00em;
    list-style:none; text-decoration:none;}/* CSS Document */
.error{
    color:red;
}
body{background-color:#fff;}
#header{background-color: #f9f9f9;}
#header .contenido{
    border-bottom: 1px solid #ccc;
}

#botonera{float:left; margin-left:32px; margin-top:10px;}
#botonera nav ul li{float:left; margin-right:0; margin-top:20px;}
#botonera nav ul li a{ font-family:"Open Sans Condensed"; font-weight:700;color:#666; 
                       font-size:15px; padding-left:10px; padding-right:10px; padding-top:4px;
                       padding-bottom:5px;border-right:1px solid #CCC;}


#botonera nav ul li a:hover{color:#000; text-decoration: underline;}
#botonera nav ul li a.borizq{border-left:1px solid #CCC;}



#top{ background-color: #333; }
#topinfo{width:1100px; margin: 0 auto; background-color: #333; }
#topinfo h5{color:#ccc; font-size: 12px; padding-top: 5px; padding-bottom:5px; }
#topinfo h5 span{font-size: 12px; font-weight: 700;}

.paddingsociales{float:left; padding-right: 10px; padding-top: 6px; }



#wrapper{margin:auto; background-color:#fff; width:1100px;
         border-left:1px solid #CCC;;border-right:1px solid #CCC;;
}


#footer{background-color:#C32127;  width:1100px;}
#footer .contenido{ padding-bottom: 30px;
                    border-top: 1px solid #ccc;

}

.floatleft{float:left;}
.floatright{float:right;}
.clearboth{clear:both;}






#body{ width:1100px; }

#body .contenido{
    padding-top: 15px;
    padding-bottom: 15px;
}
#tiempomes{ width:1100px;}


/*LOGIN*/
#loginContainer {
    position:relative;
    font-size:12px;
    z-index:50;
}

#loginButton { 
    display:block;
    float:left;
    height:29px; width:29px;
    position:relative;
    cursor:pointer;
}
.nologueadoButton {
    background:url(/images/index/login_logo2.gif) no-repeat;
}
.logueadoButton { 
    background:url(/images/index/login_logo_verde2.gif) no-repeat;  
}

#loginButton:hover {
    background-position: bottom;
}
#loginBox {
    display: none;
    position:absolute;
    top:34px;
    right:0;
}
#loginForm {
    width:248px; 
    margin-top:-1px;
    background:#333333;
    padding:6px;
}
#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}
fieldset#loginBody {
    background:#fff;
    padding:10px 13px;
    margin:0;
}

#usuariologueado{margin-top:8px; margin-right:10px;margin-left: 10px;}

#loginForm #checkbox {
    width:auto;
    margin:0 9px 0 0;
    float:left;
}

#recuerdame{
    margin-top: 20px;
}

#loginBody label {
    font-size:14px;
    color:#3a454d;
    display:block;
}

#loginForm #loginBody fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

/* Default Input */
#loginForm input {
    border:1px solid #899caa;
    color:#3a454d;
    font-weight:bold;
    padding:8px 8px;
    box-shadow:inset 0px 1px 3px #bbb;
    -webkit-box-shadow:inset 0px 1px 3px #bbb;
    -moz-box-shadow:inset 0px 1px 3px #bbb;
    font-size:16px;
}

/* Sign In Button */
.loginButton {
    font-size: 14px;
    float:left;
    background:#de4633 url(/images/login/loginbuttonbg.png) repeat-x;
    color:#fff;
    padding:7px 10px 8px 10px;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */
}


#loginForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}

input:focus {
    outline:none;
}

/* Fin Login */

#izquierda_revista {
    float:left;
    width:269px;
}
#rayas{
    padding:15px; margin-top: 30px; height:342px;
    background: url(/images/index/rayas5.png)
}


#taparevactual{display:block; width:239px; height:342px; background-color:#ccc;

}
.imgprueba{width:239px; height:342px; display: block;}

/* contenido formulario */

#nueva{margin-left: 30px; font-weight:700; margin-bottom: 15px;
       margin-top: 20px;}
#nueva:hover{text-decoration: underline;cursor:pointer;}
.contenido div#formulario{display: block; margin-left: 30px; margin-bottom: 20px;}
.contenido input{margin-bottom: 15px;
                 -moz-border-radius: 3px;
                 border-radius: 3px;
                 border: 1px solid #ccc;}
#inputtitulo{width:400px;}

.contenido select{margin-bottom: 15px;
                  -moz-border-radius: 3px;
                  border-radius: 3px;
                  border: 1px solid #ccc;

}
.contenido textarea{margin-bottom: 15px; width: 500px; 
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    border: 1px solid #ccc;    
}


.contenido select:hover{cursor:pointer;}


#botonconfrev{padding-left:10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;
              background-color:#E6E7E8; border:1px solid #666;
              border-radius:3px; -moz-border-radius:3px;
              background: #f2f5f6; /* Old browsers */
              background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
              background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

}
#botonconfrev:hover{background-color: #999; cursor: pointer;}

/* contenido formulario end */

#revpdf{font-size: 14px; font-weight: 400;color:#666; 
        margin-left: 30px;
        font-family: Arial, helvetica,sans-serif;
}
#revpdf:hover{color:#999;background-position: bottom left;}

.numeroaño{font-size:12px; font-weight:700; color:#000;}
.titulo{font-size: 42px; font-weight: 700;color:#666; padding-bottom: 15px;}

#central_revista{
    float:left;
    width: 450px;
}
#borde_separador{
    border-right: 1px solid #e5e5e5;
}
.parrafo{padding-left: 40px; margin-top: 30px; }
.parrafo p{font-size: 14px;  font-family: arial, helvetica, 'sans serif';
           font-weight:400; color:#666;}

#derecha_revista{
}

#arbol_revista{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;    
}
#arbol_revista a{
    font-size: 13px;
    color:#959595;
}
#arbol_revista > ul > li{
    margin-top: 15px;
}

.arbol_ano span{
    font-size: 15px;
}

.arbol_ano, .seleccionado_ano{
    background-position: left 3px;
}

.seleccionado_ano, .seleccionado_mes{
    font-weight: 700;
    color: #000 !important;
}

.arbol_mes{

}

#leermas{font-size: 12px; font-weight: 700; color: #000; padding-right: 20px;
         padding-bottom: 20px; padding-top: 5px;
}
#leermas:hover{color:#999;}
/* contenido1 formulario FIN */

/* footer inicio */

.copyright{color:#fff; font-size:11px ;clear:both; display:block; margin-left:20px; margin-top:10px;}

#botonerafooter nav ul{margin-left: 15px;}
#botonerafooter nav ul li{float:left; margin-right:10px; margin-top:20px;}
#botonerafooter nav ul li a{display:block;font-family:"Open Sans Condensed"; font-weight:700;color:#FFF;  font-size:12px; padding-left:5px; padding-right:5px; padding-top:4px; padding-bottom:5px;}
#botonerafooter nav ul li a:hover{text-decoration: underline;}
.padding0 {padding:0;}


/* footer FIN */

.float70, .float30, .float60, .float40{
    width:70%;
    float:left;
}
.float70{
    width:70%;
}
.float30{
    width:30%;
}
.float60{
    width:60%;
}
.float40{
    width:40%;
}

/*TABLA*/
#posicion_notas{
    /*margin-left: 10px;*/
}
.nota{
    width:256px;
}
.nota_formato{
    padding: 20px;
    padding-top: 10px;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}
.nota_formato *{

}

.nota_formato h5{
    font-size:10px;
}
.nota_formato h5 span{
    font-weight:bold;
    font-size:10px;
}

.nota_formato h1{
    font-weight: bold;
    color: #C32127;
    font-size: 24px;
    font-family:'open sans condensed';
    line-height: 25px;
}
.nota_formato p{
    margin-top: 8px;
}
.nota_formato img{
    margin-top: 8px;
}
#columnadirector, #columnaconsultenos{
    margin-top:30px;
}

#columnadirector *, #columnaconsultenos *{
    font-weight:bold;
}

#columnadirector span, #columnaconsultenos span{
    color:grey;
}
#columnaconsultenos ul{
    position: relative;
    top: -6px;
}
#columnadirector{
    margin-left: 30px;
}
.contacto{
    margin-top: 10px;
}
.contactoinfo{
    margin-left: 10px;
}

.contactoinfo img{
    vertical-align: middle;
}