@charset "utf-8";


/* VARIOS */

* { border:0; margin:0; padding:0;
    font-family:Arial, Helvetica; font-size: 14px; font-weight:300; letter-spacing:0.00em;
    list-style:none; text-decoration:none;}/* CSS Document */
.error{
    color:red;
}
h5{
    font-size:18px; font-weight:700; color:#db9079;
}
h4{
    font-size:36px; font-weight:700; color:#666;margin-bottom:10px;
}
.border{
    border-right: 1px solid #ccc;
    padding-right: 45px;
}
.floatleft{float:left;}
.floatright{float:right;}
.clearboth{clear:both;}

.float70, .float30, .float60, .float40{
    float:left;
}
.float70{
    width:70%;
}
.float30{
    width:30%;
}
.float60{
    width:60%;
}
.float40{
    width:40%;
}

.k-checkbox{
    margin-top: 7px;
}
/* VARIOS FIN */

/* HEADER */
#header{background-color: #f9f9f9;}
#header .contenido{
    border-bottom: 1px solid #ccc;
}

#botonera{float:left; margin-left:32px; margin-top:10px;}
#botonera nav ul li{float:left; margin-right:0; margin-top:20px;}
#botonera nav ul li a{ font-family:"Open Sans Condensed"; font-weight:700;color:#666; 
                       font-size:15px; padding-left:10px; padding-right:10px; padding-top:4px;
                       padding-bottom:5px;border-right:1px solid #CCC;}


#botonera nav ul li a.seleccionado:hover{ text-decoration: underline;}
#botonera nav ul li a:not(.seleccionado):hover{color:#000; text-decoration: underline;}

#botonera nav ul li a.borizq{border-left:1px solid #CCC;}


#botonera .seleccionado{
    background-color:#C32127;
    color:white;
}

#top{ background-color: #333; }
#topinfo{width:1100px; margin: 0 auto; background-color: #333; }
#topinfo h5{color:#ccc; font-size: 12px; padding-top: 5px; padding-bottom:5px; }
#topinfo h5 span{font-size: 12px; font-weight: 700;}

.paddingsociales{float:left; padding-right: 10px; padding-top: 6px; }
/* HEADER FIN */

/* FORMATO GENERAL */
body{background-color:#fff;}

#wrapper{margin:auto; background-color:#fff; width:1100px;
         border-left:1px solid #CCC;;border-right:1px solid #CCC;;
}

#body{ width:1100px; min-height: 2000px; }

#body .contenido{
    padding-top: 45px;
    padding-bottom: 15px;
}
#tiempomes{ width:1100px;}

.col_contenido{
    float: left;
    width:80%;
}
.col_anunciantes{
    float: left;
    width: 20%;
}
.col_anunciantes .anunciante{
    background-color: #ccc;
    width: 190px;
    height: 120px;
    margin-bottom: 24px;
    margin-left: 15px;
}
/* FORMATO GENERAL FIN */

/* FOOTER */
#footer{background-color:#343432;  width:1100px;}
#footer .contenido{ padding-bottom: 30px;
                    border-top: 1px solid #ccc;

}

.copyright{color:#fff; font-size:11px ;clear:both; display:block; margin-left:20px; margin-top:10px;}

#botonerafooter nav ul{margin-left: 15px;}
#botonerafooter nav ul li{float:left; margin-right:10px; margin-top:20px;}
#botonerafooter nav ul li a{display:block;font-family:"Open Sans Condensed"; font-weight:700;color:#FFF;  font-size:12px; padding-left:5px; padding-right:5px; padding-top:4px; padding-bottom:5px;}
#botonerafooter nav ul li a:hover{text-decoration: underline;}
.padding0 {padding:0;}
/* FOOTER FIN */




/*LOGIN*/
#loginContainer {
    position:relative;
    font-size:12px;
    z-index:50;
}

#loginButton { 
    display:block;
    float:left;
    height:29px; width:29px;
    position:relative;
    cursor:pointer;
}
.nologueadoButton {
    background:url(/images/index/login_logo2.gif) no-repeat;
}
.logueadoButton { 
    background:url(/images/index/login_logo_verde2.gif) no-repeat;  
}

#loginButton:hover {
    background-position: bottom;
}
#loginBox {
    display: none;
    position:absolute;
    top:34px;
    right:0;
}
#loginForm {
    width:248px; 
    margin-top:-1px;
    border: solid #333 6px;
    background-color: white;
}
#loginForm fieldset {
    margin:0 0 12px 0;
    display:block;
    border:0;
    padding:0;
}
fieldset#loginBody {
    background:#fff;
    padding:10px 13px;
    margin:0;
}

#usuariologueado
{
    margin-top: 9px; 
    margin-left: 15px;
}

#loginForm #checkbox {
    width:auto;
    margin:0 9px 0 0;
    float:left;
}

#recuerdame{
    margin-top: 20px;
}

#loginBody label {
    font-size:14px;
    color:#3a454d;
    display:block;
}

#loginForm #loginBody fieldset label {
    display:block;
    float:none;
    margin:0 0 6px 0;
}

#loginForm input{
    font-size:14px;
}
#loginForm .loginInput {
    border:1px solid #899caa;
    font-weight:bold;
    padding:8px 8px;
}

#loginForm .loginButton {
    color:white;
    padding:7px 10px 8px 10px;
    background-color: #C32127;
    margin:0 12px 0 0;
    cursor:pointer;
    *padding:7px 2px 8px 2px; /* IE7 Fix */

}


#loginForm span a {
    color:#3a454d;
    text-shadow:1px 1px #fff;
    font-size:12px;
}

input:focus {
    outline:none;
}
/* LOGIN FIN */



/* EDICION IMPRESA */
#izquierda_revista {
    float:left;
    width:269px;
}
#rayas{
    padding:15px; margin-top: 30px; height:342px;
}
.pattern-white{
    background-image: url(/images/index/pattern-white.png);
}

.fin_parrafo{
    background-image: url(/images/index/raya_fin.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    height: 4px;
    margin-right: 15px;

}
#raya_parrafo{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: #e5e5e5 solid 1px;
}


#taparevactual{display:block; width:239px; height:342px; background-color:#ccc;

}
.imgprueba{width:239px; height:342px; display: block;}


#nueva{margin-left: 30px; font-weight:700; margin-bottom: 15px;
       margin-top: 20px;}
#nueva:hover{text-decoration: underline;cursor:pointer;}
.contenido div#formulario{display: block; margin-left: 30px; margin-bottom: 20px;}
.contenido form input{margin-bottom: 15px;
                      -moz-border-radius: 3px;
                      border-radius: 3px;
                      border: 1px solid #ccc;}
#inputtitulo{width:400px;}

.contenido select{margin-bottom: 15px;
                  -moz-border-radius: 3px;
                  border-radius: 3px;
                  border: 1px solid #ccc;

}
.contenido textarea{margin-bottom: 15px; width: 500px; 
                    -moz-border-radius: 3px;
                    border-radius: 3px;
                    border: 1px solid #ccc;    
}


.contenido select:hover{cursor:pointer;}


#botonconfrev{padding-left:10px; padding-right: 10px; padding-top: 5px; padding-bottom: 5px;
              background-color:#E6E7E8; border:1px solid #666;
              border-radius:3px; -moz-border-radius:3px;
              background: #f2f5f6; /* Old browsers */
              background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc)); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* IE10+ */
              background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%); /* W3C */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

}
#botonconfrev:hover{background-color: #999; cursor: pointer;}


#revpdf{
    height: 20px;
    padding-left: 20px;
    margin-top: 20px;
    display: block;
    font-size: 14px; 
    font-weight: 400;
    color:#666; 
    font-family: Arial, Helvetica,sans-serif;
    background-image: url(/images/index/edicion_impresa.png);
    background-position: left top;
    background-repeat: no-repeat;
}


#revpdf:hover{color:#999;   background-position: bottom left;}


.numeroaño{font-size:12px; font-weight:700; color:#000;}
.titulo{font-size: 42px; font-weight: 700;color:#666; padding-bottom: 15px;}

#central_revista{
    float:left;
    width: 450px;
}

#borde_separador{
    border-right: 1px solid #e5e5e5;
}
.parrafo{margin-left: 40px; margin-top: 30px;
}
.parrafo span{
    color: #959595;
    margin-left: 5px;
    font-size: 12px;
}

#derecha_revista{
}

#arbol_revista{
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;    
}
#arbol_revista a{
    font-size: 13px;
    color:#959595;
}
#arbol_revista > ul > li > ul{
    padding-bottom: 15px;
    padding-left: 8px;
}

.arbol_ano span{
    font-size: 15px;
}

.arbol_ano, .seleccionado_ano{
    background-position: left 3px;
}

.seleccionado_ano, .seleccionado_mes{
    font-weight: 700;
    color: #000 !important;
}

.arbol_mes{

}

#leermas{font-size: 12px; font-weight: 700; color: #000; padding-right: 40px;
         color: #C32127;
         background-position: right center;
}
/* EDICION IMPRESA FIN */




/*NOTAS*/
#notas h4, #notas h5{
    padding-left: 20px;
}
#posicion_notas{
}
#posicion_notas .nota_formato li{
    padding-left: 5px;
}


.icono{
    width: 18px;
    height: 17px;
    background-repeat: no-repeat;
    display:block;
    text-indent:-5000em;
}
.eliminar{
    background-image: url(/images/index/eliminargris.png);
}
.editar{
    background-image: url(/images/index/editargris.png);
}
.eliminar:hover{
    background-image: url(/images/index/eliminarrojo.png);
}
.editar:hover{
    background-image: url(/images/index/editarverde.png);
}

#numeros{
    padding-right: 10px;
    padding-bottom: 10px;
}
#numeros li{
    float:left; 
    padding-right: 4px;
    padding-left: 4px;
}
#numeros a{
    font-size: 14px;
    color: #666;
    font-weight: 700;
}
#numeros a img{
    position:relative;
    top: 1px;
}
#numeros .selected{
    background-color: #C32127;
}
#numeros .selected a{
    color: white;
}
#notas .nota{
    width:293px;
    background-color: white;
}

#notas .nota_formato{
    padding: 20px;
    padding-top: 10px;


}
#notas .nota .nota_formato{
    border-right: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-bottom: solid 1px #ccc;

}

#notas .nota_formato *{

}

#notas .nota_formato h5{
    padding-left: 0px;
    font-size:10px;
    padding-bottom: 2px;
    color: #666;
}
#notas .nota_formato h5 span{

    font-weight:bold;
    font-size:10px;
}

#notas .nota_formato h1{
    font-weight: bold;
    color: #C32127;
    font-size: 24px;
    font-family:'open sans condensed';
    line-height: 25px;
    background-repeat: no-repeat;
    background-image: url(/images/varios/l_chica.png);
    background-position: right bottom;
}
#notas .nota_formato p{
    margin-top: 8px;
}

/* FIN NOTAS */


/* NOTA VIEW */

#nota{
    margin-left: 20px;
}
#nota .nota_formato .bajada{
    font-family: "Arial", sans-serif;
    font-style: italic;
    font-size: 17px; 
    line-height: 1.2;
    color: #666;
    margin-bottom: 20px;
}
#nota .nota_formato h1{
    background-image: url(/images/varios/l_grande.png);
    background-repeat: no-repeat;
    background-position: right;
    color: #C32127;
    font-weight: bold;
    font-family: 'open sans condensed';

}

#compartir{
    padding-left:20px;
    padding-top:20px;
    padding-bottom: 20px;
}
#compartir h1{
    font-weight: 700;
    color: #666;
    font-size:15px;
}
#compartirsociales{
    padding-left:5px;
}
#compartirsociales .paddingsociales{
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 0px;
}
#nota .texto{
    border-bottom: #CCC 1px solid;
    padding-bottom: 20px;
}
.texto{
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    padding-bottom: 15px;
}
.nota_formato img{
    margin-top: 8px;
    margin-bottom: 15px;
}

#nota .nota_formato{
    padding-bottom: 0px;

}
#nota .nota_formato h1{
    font-size: 38px;
    padding-bottom: 10px;
}
#nota .nota_formato h5{
    padding-bottom: 10px;
    color: #666;
    font-size: 12px;
}
/* FIN NOTA VIEW */
/* UTILES */

#utiles{
    padding-left: 20px;
    border-right: 1px solid #CCC;
}
.util{
    float: left;
    color: #666;
    width: 33%;
    margin-bottom: 15px;
}


.util_nombre{
    font-weight: bold;
    margin-top: 5px;
}

.util_nombre img{
    float: left;
    padding-right: 10px; 
}
.util ul{
    margin-top: 10px;
}
.util a{
    color: #db9079;
    font-size: 12px;
}
.util li{
    padding-bottom: 7px;
    color: #C32127;
    font-weight: bold;
}
.util li div{
    padding-bottom: 10px;
    color: #666;
}
/* FIN UTILES */


/* CONTACTO */
#columnadirector, #columnaconsultenos{
    margin-top:30px;
}

#columnadirector *, #columnaconsultenos *{
    font-weight:bold;
}

#columnadirector span, #columnaconsultenos span{
    color:grey;
}
#columnaconsultenos ul{
    position: relative;
    top: -6px;
}
#columnadirector{
    margin-left: 30px;
}
.contacto{
    margin-top: 10px;
}
.contactoinfo{
    margin-left: 10px;
}

.contactoinfo a{
    float:left;
    display:block;
    text-indent: -50000em;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.contactoinfo #facebook,
.contactoinfo #facebook:visited{
    background-image: url(/images/index/facebook-logotipo.png);
    width:68px;
}
.contactoinfo #facebook:hover{
    background-image: url(/images/index/facebook-logotipo-hover.png);
}

.contactoinfo #twitter, 
.contactoinfo #twitter:visited{
    background-image: url(/images/index/twitter-logotipo.png);
    width:64px;
}

.contactoinfo #twitter:hover{
    background-image: url(/images/index/twitter-logotipo-hover.png);
}

.contactoinfo img{
    vertical-align: middle;
}
/* FIN CONTACTO */


/* QUIENES SOMOS */
#quienes{
    float:left;
    width: 55%;    
}

#quienes .texto{
}

#quienes .fin_parrafo{
    margin-right: 40px;

}
#quienes .fin_parrafo{
    margin-right: 40px;
}
#quienes #links li{
    float:left;
    margin: 7px;

}
#quienes #links .contacto{
    background-image: url(/images/index/flechita_contacto.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 35px;

}
#quienes #links li a{
    color: #616161;
    font-size: 23px;
    font-family: "open sans condensed";
    padding-left: 3px;
    padding-right: 3px;
    background-color: #c9c8c6;
}

#quienes #links li #facebook,#quienes #links li #twitter{
    padding: 0px;
    float:left;
    width: 34px;
    height: 34px;
    background-repeat: no-repeat;
}
#quienes #links li #facebook{
    background-image: url(/images/index/facebook_medianoOff.png);
    margin-right: 7px;
}

#quienes #links li #twitter{
    background-image: url(/images/index/twitter_medianoOff.png);
}
#quienes #links li a:hover{
    color: #616161;
    background-color: #e3e2e0;
}


#staff{
    padding-top: 10px;
}
#staff .texto{
    font-weight: bold;
}
#staff ul{
    margin-top: 10px;
    margin-bottom: 90px;
}
#staff li{
    font-weight: bold;
    font-size: 15px;
    color: #999;
    float:left;
    margin-right: 4px;
}
#imagen_quienes{
    float: left;
    width: 45%;
}
#imagen_quienes .imagen{
    background-image: url(/images/index/23anos.png); 
    width:300px; height:400px;
    margin: auto;
}
/* FIN QUIENES SOMOS */

/* ANUNCIANTES */
#anunciantes{

}
#anunciantes .border{
    padding: 0px;
}

#anunciantes h5, #anunciantes h4{
    padding-left: 20px;
}
#anunciantes h4{
    margin-bottom: 0px;
}
#anunciantes h5{
    font-size: 12px;
    margin-bottom: 20px;
}
#anunciantes #filtros{
    margin-left: 20px;
    margin-right: 20px;
}
#anunciantes #filtros #actualizar{
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    background-color: #a6a6a6;
    color:white;
    font-weight: bold;
    font-size: 16px;
    padding-top: 4px;
    padding-bottom: 4px;

}

#anunciantes .treeview_filtros{
    margin: auto;
    width: 25%;
}
#posicion_anunciantes
{
    margin-top: 20px;
    margin-bottom: 20px;
}
#tabla_anunciantes
{
}
#tabla_anunciantes h1
{
    color: #C32127;
    font-size: 24px;
    font-family: 'open sans condensed';
    line-height: 25px;
    font-weight: bold;
}

#tabla_anunciantes ul
{
    padding-top: 5px;
    padding-bottom: 5px;
}
#tabla_anunciantes li
{
    font-size: 12px;
    color: #999;
}
#tabla_anunciantes li a
{
    font-size: 12px;
}
#tabla_anunciantes .title{
    margin-bottom: 7px;
    color: #333;
}
#tabla_anunciantes .rubro{
    font-size: 10px;
    display:inline-block;
    line-height: 10px;
    color: #db9079;
}
#tabla_anunciantes #tabla
{
    margin-top: 20px;
    margin-bottom: 40px;
}
#tabla_anunciantes .anunciante{
    width: 174px;
    padding: 20px;
    float: left;
    border-bottom: solid 1px #ccc;
    background-color: white;
}
#tabla_anunciantes .anunciante li{
}
#tabla_anunciantes strong{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

#tabla_anunciantes img{
    margin-top: 5px;
    margin-bottom:5px;
}
/* FIN ANUNCIANTES */

/* ANUNCIANTE */
#anunciante{
    padding-left: 20px;
    color: #666;
}
#anunciante h5{
    font-size: 14px;
    color: #48b6af;

}
#imagen_anunciante{
    margin-top: 20px;
    float:left;
    width: 30%
}
#medio_anunciante{
    float: left;
    width: 60%;
}

#medio_anunciante h1{
    font-weight: bold;
    font-size: 26px;
    color: #333;
    padding-bottom: 20px;
}
#puntos_anunciante{
    float:left;
    width: 60%;
}
#puntos_anunciante div{
    margin-bottom: 20px;
}
#puntos_anunciante span{
    font-size: 12px;
    color: #db9079;
}
#puntos_anunciante a{
    color: #666;
    text-decoration: underline;
}

#tags_anunciante .k-item ul li{
    padding-left: 0px;
}

#tags_anunciante{
    float:left;
    width:40%;
}
#tags_anunciante #treeview{
    margin-left: 30px;
}
#tags_anunciante .k-in{
    color:#48b6af;

}

/* FIN ANUNCIANTE */